<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/" method="POST">
      <p>Insert Text: <input type="text" name="name"></p>
      <button id="submit">Submit</button>


  </body>
</html>
